# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Byte-compiled, compiled, cache
.mypy_cache/
.pytest_cache/
.coverage
*.log

# Virtualenvs
.venv/
venv/
env/
.env/
.venv-win/
site/

# Dependency manager
poetry.lock
Pipfile.lock
requirements.txt
*.egg-info/
dist/
build/

# Editor/IDE
*.swp
*.bak
*~
.vscode/
.idea/
*.code-workspace

# Git
.git/
.gitignore

# Docker
.dockerignore
Dockerfile*
docker-compose*.yml

# OS/system
.DS_Store
Thumbs.db

# Project specific
static/
media/
node_modules/
.env
uv.lock
