# Python
__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
.coverage
*.log

# Virtualenvs
.venv*
env/
site/

# Dependency managers
poetry.lock
Pipfile.lock
*.egg-info/
dist/
build/

# Editor/IDE
.vscode/
.idea/
*.swp
*.bak

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose*.yml

# Sensitive / local only
.env
.env.*
google_creds.json
