# Python
__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
.coverage
*.log

# Virtualenvs
.venv*
env/
site/

# Dependency managers
poetry.lock
Pipfile.lock
*.egg-info/
dist/
build/

# Editor/IDE
.vscode/
.idea/
*.swp
*.bak

# Git
.git/
.gitignore

# Docker
docker/Dockerfile
docker/api.Dockerfile
docker/docker-compose*.yml
.dockerignore

# Sensitive / local only
.env
google_creds.json
**/celerybeat-schedule*
