repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.6.3  # same version as in pyproject.toml
    hooks:
      - id: ruff
        args: [--fix]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
