version: '3'

services:
  db:
    image: "postgres:latest"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    depends_on:
      - db
    ports:
      - "8000:8000"
    environment:
      DB_HOST: db
      DB_NAME: postgres
      DB_USER: postgres
      DB_PASSWORD: password
    volumes:
      - ./backend:/opt/backend:z
    command:
      - python
      - -u
      - manage.py
      - runserver
      - "0.0.0.0:8000"

  bot:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - backend
      - db
    environment:
      DJANGO_HOST: backend
      DJANGO_PORT: "8000"
    volumes:
      - .:/opt:z
    ports:
      - "8080:8000"
    env_file:
      - .env
    command:
      - python
      - -u
      - main.py

volumes:
  pgdata: