version: "3"

services:
  db:
    image: "postgres:latest"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    expose:
      - 5432
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data

  bot:
    build:
      context: .
      dockerfile: deployment/Dockerfile.tg
    depends_on:
      - db
    env_file:
      - .env
    command:
      - python
      - -u
      - main.py
    volumes:
      - .:/opt:z

  backend:
    build:
      context: .
      dockerfile: deployment/Dockerfile.django
    depends_on:
      - db
    volumes:
      - .:/opt:z
    ports:
      - "8000:8000"
    env_file:
      - .env
    command:
      - python
      - -u
      - manage.py
      - runserver
      - "0.0.0.0:8000"

volumes:
  pgdata: