services:
  db:
    image: "postgres:latest"
    container_name: db
    ports:
      - "5432:5432"
    env_file:
      - ./.env
    volumes:
      - ./pgdata:/var/lib/postgresql/data:rw
    networks:
      - monitoring
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: "redis:latest"
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - ./redisdata:/data:rw
      - ./redis.conf:/usr/local/etc/redis/redis.conf:rw
    networks:
      - monitoring
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]

  backend:
    container_name: backend
    build:
      context: .
      dockerfile: Dockerfile.backend
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    volumes:
      - ./backend:/opt/backend:rw
    logging:
      driver: loki
      options:
        loki-url: "http://172.20.0.3:3100/loki/api/v1/push"
        loki-external-labels: "job=backend,app=gym_bot"
    networks:
      - monitoring

  bot:
    container_name: bot
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - backend
      - db
      - redis
    volumes:
      - .:/opt:rw
      - ./google_creds.json:/opt/google_creds.json:rw
    ports:
      - "8080:8000"
    logging:
      driver: loki
      options:
        loki-url: "http://172.20.0.3:3100/loki/api/v1/push"
        loki-external-labels: "job=bot,app=gym_bot"
    env_file:
      - ./.env
    command:
      - python
      - -u
      - main.py
    networks:
      - monitoring

volumes:
  pgdata:
  redisdata:

networks:
  monitoring:
    external: true
