services:
  redis:
    image: "redis:latest"
    expose:
      - 6379
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
    networks:
      - monitoring

  db:
    image: "postgres:latest"
    ports:
      - "5432:5432"
    expose:
      - 5432
    env_file:
      - ./.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - monitoring

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    depends_on:
      - db
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    volumes:
      - ./backend:/opt/backend:z
    command:
      - python
      - -u
      - manage.py
      - runserver
      - "0.0.0.0:8000"
    networks:
      - monitoring

  bot:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - backend
      - db
      - redis
    volumes:
      - .:/opt:z
      - ./google_creds.json:/opt/google_creds.json:z
    ports:
      - "8080:8000"
    logging:
      driver: loki
      options:
        loki-url: "http://172.20.0.2:3100/loki/api/v1/push"
        loki-external-labels: "job=bot,app=gym_bot"
    env_file:
      - ./.env
    command:
      - python
      - -u
      - main.py
    networks:
      - monitoring

volumes:
  pgdata:
  redisdata:

networks:
  monitoring:
    external: true
