services:
  db:
    image: postgres:17
    container_name: db
    env_file: .env
    ports: ["5432:5432"]
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks: [monitoring]

  redis:
    image: redis:7.4.2
    container_name: redis
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    ports: ["6379:6379"]
    volumes:
      - redisdata:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf:ro
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
    restart: unless-stopped
    networks: [monitoring]

  api:
    container_name: api
    build:
      context: .
      dockerfile: api.Dockerfile
      args:
        INSTALL_DEV: "false"
    env_file: .env
    environment:
      RUN_MIGRATIONS: "true"
    volumes:
      - ./common:/opt/common
    depends_on:
      db:
        condition: service_healthy
    command: >
      uvicorn api.asgi:application --host 0.0.0.0 --port 8000
    restart: unless-stopped
    networks: [monitoring]

  bot:
    container_name: bot
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - api
      - db
      - redis
    env_file: .env
    command: ["python", "-u", "/app/bot/main.py"]
    volumes:
      - ./google_creds.json:/app/google_creds.json:ro
      - ./backup/dumps:/app/bot/backup/dumps
      - ./common:/opt/common
    ports: ["8080:8000"]
    restart: unless-stopped
    networks: [monitoring]

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - ./static:/opt/api/staticfiles:ro
    depends_on:
      - api
    restart: unless-stopped
    networks: [monitoring]

volumes:
  pgdata:
  redisdata:

networks:
  monitoring:
    external: true
