services:
  db:
    image: "postgres:latest"
    container_name: db
    ports:
      - "5432:5432"
    env_file:
      - ./.env
    networks:
      - monitoring
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always

  redis:
    image: "redis:latest"
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    networks:
      - monitoring
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    restart: always

  backend:
    container_name: backend
    build:
      context: .
      dockerfile: Dockerfile.backend
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    logging:
      driver: loki
      options:
        loki-url: "http://172.20.0.3:3100/loki/api/v1/push"
        loki-external-labels: "job=backend,app=gym_bot"
    networks:
      - monitoring
    restart: always

  bot:
    container_name: bot
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - backend
      - db
      - redis
    ports:
      - "8080:8000"
    logging:
      driver: loki
      options:
        loki-url: "http://172.20.0.3:3100/loki/api/v1/push"
        loki-external-labels: "job=bot,app=gym_bot"
    env_file:
      - ./.env
    command:
      - python
      - -u
      - main.py
    networks:
      - monitoring
    restart: always

volumes:
  pgdata:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /opt/postgres/data/
  redisdata:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /opt/redis/data/

networks:
  monitoring:
    external: true