services:
  db:
    image: "postgres:17"
    container_name: db
    ports:
      - "15432:5432"
    env_file:
      - ./.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  redis:
    image: "redis:7.4.2"
    container_name: redis
    ports:
      - "16379:6379"
    volumes:
      - redisdata:/data
    command: ["redis-server"]
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 3
    restart: unless-stopped

  bot:
    container_name: bot
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
      - redis
    ports:
      - "8080:8080"
    env_file:
      - ./.env
    command:
      - python
      - -u
      - /app/bot/main.py
    restart: unless-stopped
    volumes:
      - ./backup/dumps:/app/bot/backup/dumps
      - ./common:/opt/common

  api:
    container_name: api
    build:
      context: .
      dockerfile: api.Dockerfile
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    volumes:
      - ./common:/opt/common
    restart: unless-stopped

volumes:
  pgdata:
    driver: local
  redisdata:
    driver: local
