services:
  db:
    image: postgres:17
    container_name: db
    env_file: .env
    ports: ["5432:5432"]
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER:-postgres}"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  redis:
    image: redis:7.4.2
    container_name: redis
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    ports: ["6379:6379"]
    volumes:
      - redisdata:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf:ro
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
    restart: unless-stopped

  api:
    container_name: api
    build:
      context: .
      dockerfile: api.Dockerfile
      args:
        INSTALL_DEV: "true"
    env_file: .env
    volumes:
      - .:/app
      - ./config:/app/config
    environment:
      RUN_MIGRATIONS: "true"
    command: >
      uvicorn config.asgi:application --host 0.0.0.0 --port 8000
    ports: ["8000:8000"]
    depends_on:
      db:    {condition: service_healthy}
      redis: {condition: service_healthy}
    restart: unless-stopped

  celery:
    container_name: celery_worker
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    command: celery -A project.tasks worker -l info
    volumes:
      - .:/app
      - ./config:/app/config
    depends_on:
      - redis
      - db
    restart: unless-stopped

  beat:
    container_name: celery_beat
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    command: celery -A project.tasks beat -l info
    volumes:
      - .:/app
      - ./config:/app/config
    depends_on:
      - redis
      - db
    restart: unless-stopped

# Uncomment 'bot' when fully running inside Docker. It's commented to allow running the Python process directly from the IDE

#  bot:
#    container_name: bot
#    build:
#      context: .
#      dockerfile: Dockerfile
#    depends_on:
#      - db
#      - redis
#    env_file: .env
#    command: ["python", "-u", "/app/bot/main.py"]
#    volumes:
#      - ./google_creds.json:/app/google_creds.json:ro
#      - ./dumps:/app/dumps
#      - ./config:/app/config
#    ports: ["8080:8080"]
#    restart: unless-stopped

volumes:
  pgdata:
  redisdata:
