version: '3'

services:
  redis:
    image: "redis:latest"
    expose:
      - 6379
    ports:
      - "6379:6379"

  db:
    image: "postgres:latest"
    ports:
      - "5432:5432"
    env_file:
      - ./.env
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    depends_on:
      - db
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    volumes:
      - ./backend:/opt/backend:z
    command:
      - python
      - -u
      - manage.py
      - runserver
      - "0.0.0.0:8000"

  bot:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - backend
      - db
    volumes:
      - .:/opt:z
    ports:
      - "8080:8000"
    env_file:
      - ./.env
    command:
      - python
      - -u
      - main.py

volumes:
  pgdata: