[tool.ruff]
line-length = 120
exclude = [
  ".git",
  ".mypy_cache",
  ".pytest_cache",
  ".env",
  "env",
  "venv",
  ".venv",
  "./backend/accounts/migrations/",
]

[tool.ruff.lint]
ignore = ["E501", "E402", "F403", "F405"]

[tool.black]
line-length = 120
target-version = ['py310']
include = '\.pyi?$'
exclude = '''
(
  /(
      \.git
    | \.mypy_cache
    | \.pytest_cache
    | \.env
    | env
    | venv
    | .venv
    | backend/accounts/migrations
  )
)
'''

[tool.mypy]
ignore_missing_imports = true
strict = true
disallow_untyped_calls = true
warn_unused_ignores = true
warn_unreachable = true
exclude = '''
(
  \.git
| \.mypy_cache
| \.pytest_cache
| \.env
| env
| .venv
| venv
| backend/accounts/migrations
)
'''
