[tool.poetry]
name = "GymBot"
version = "0.1.0"
description = ""
authors = ["Yevhenii Melnykov <evgeniy@workmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.12"
aiohttp = "^3.10.5"
loguru = "^0.7.2"
setuptools = "^75.8.0"
psycopg2-binary = "^2.9.10"
asyncpg = "^0.30.0"
pyyaml = "^6.0.2"
python-dotenv = "^1.0.1"
httpx = "^0.28.1"
redis = "^5.2.1"
google-cloud-storage = "^3.0.0"
apscheduler = "^4.0.0a5"
python-dateutil = "^2.9.0.post0"
aiogram = "^3.17.0"
django = "^5.1.6"
django-extensions = "^3.2.3"
djangorestframework = "^3.15.2"
djangorestframework-api-key = "^3.0.0"
drf-yasg = "^1.21.8"
djoser = "^2.3.1"
cryptography = "^44.0.0"
django-filter = "==25.1"
liqpay-python = "^1.1"
gspread = "^6.1.4"
google-auth = "^2.37.0"
django-jazzmin = "^3.0.1"
pre-commit = "^4.1.0"

[tool.poetry.group.dev.dependencies]
ruff = "^0.9.4"
pytest = "^8.3.2"
pre-commit = "^4.0.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff.lint.isort]
combine-as-imports = true

[tool.ruff]
line-length = 120
exclude = [
  ".git",
  ".mypy_cache",
  ".pytest_cache",
  ".env",
  "env",
  "venv",
  ".venv",
]

[tool.ruff.lint]
select = ["E", "F"]
ignore = ["F405", "F403"]
