[project]
name = "GymBot"
version = "0.1.0"
description = ""
authors = [{ name = "Yevhenii Melnykov", email = "evgeniy@workmail.com" }]
readme = "README.md"
requires-python = ">=3.13"

dependencies = [
    "aiohttp>=3.10.5",
    "loguru>=0.7.2",
    "setuptools>=75.8.2",
    "psycopg[binary]>=3.2.6",
    "asyncpg>=0.30.0",
    "pyyaml>=6.0.2",
    "python-dotenv>=1.0.1",
    "httpx>=0.28.1",
    "redis>=5.2.1",
    "google-cloud-storage>=3.1.0",
    "apscheduler>=3.11.0",
    "python-dateutil>=2.9.0.post0",
    "aiogram>=3.17.0",
    "django>=5.1.6",
    "django-extensions>=3.2.3",
    "djangorestframework>=3.15.2",
    "djangorestframework-api-key>=3.0.0",
    "drf-yasg>=1.21.9",
    "djoser>=2.3.1",
    "cryptography>=44.0.0",
    "django-filter==25.1",
    "gspread>=6.2.0",
    "google-auth>=2.37.0",
    "django-jazzmin>=3.0.1",
]

[dependency-groups.dev]
ruff = ">=0.11.2"
pytest = ">=8.3.5"
mypy = ">=1.15.0"
pre-commit = ">=4.2.0"
types-python-dateutil = "*"
types-redis = "*"

[tool.ruff]
line-length = 120
exclude = [".git", ".mypy_cache", ".pytest_cache", ".env", "env", "venv", ".venv"]

[tool.ruff.lint]
select = ["E", "F"]
ignore = ["F405", "F403"]

[tool.ruff.lint.isort]
combine-as-imports = true

[tool.mypy]
python_version = "3.13"
ignore_missing_imports = true
strict_optional = true
exclude = '(\.venv|\.env|env|\.mypy_cache|\.pytest_cache|\.git)'
