[tool.poetry]
name = "gymbot"
version = "0.1.0"
description = ""
authors = ["Yevhenii Melnykov <yevhenii.melnykov@codeit.local>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.12"
aiohttp = "^3.10.5"
loguru = "^0.7.2"
setuptools = "^74.1.3"
psycopg2-binary = "^2.9.10"
asyncpg = "^0.30.0"
pyyaml = "^6.0.2"
python-dotenv = "^1.0.1"
httpx = "^0.28.1"
redis = "^5.2.1"
google-cloud-storage = "^2.19.0"
apscheduler = "^3.11.0"
python-dateutil = "^2.9.0.post0"
aiogram = "^3.16.0"
django = "^5.1.4"
django-extensions = "^3.2.3"
djangorestframework = "^3.15.2"
djangorestframework-api-key = "^3.0.0"
drf-yasg = "^1.21.8"
djoser = "^2.3.1"
cryptography = "^44.0.0"
django-filter = "^24.3"
liqpay-python = "^1.1"
gspread = "^6.1.4"
google-auth = "^2.37.0"

[tool.poetry.group.dev.dependencies]
ruff = "^0.6.3"
pytest = "^8.3.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff.lint.isort]
combine-as-imports = true

[tool.ruff]
line-length = 120
exclude = [
  ".git",
  ".mypy_cache",
  ".pytest_cache",
  ".env",
  "env",
  "venv",
  ".venv",
]