[project]
name = "gamemanager"
version = "0.1.0"
description = ""
authors = [
    { name = "Yevhenii Melnykov", email = "yevhenii.melnykov@codeit.local" }
]
readme = "README.md"
dependencies = [
    "aiohttp>=3.10.5",
    "apscheduler>=3.11.0",
    "asyncpg>=0.30.0",
    "celery>=5.4.0",
    "cryptography>=44.0.0",
    "django>=5.1.7",
    "django-celery-beat>=2.7.0",
    "django-extensions>=3.2.3",
    "django-filter==25.1",
    "django-jazzmin>=3.0.1",
    "djangorestframework>=3.15.2",
    "djangorestframework-api-key>=3.0.0",
    "djangorestframework-simplejwt>=5.5.0",
    "drf-yasg>=1.21.9",
    "httpx>=0.28.1",
    "loguru>=0.7.3",
    "psycopg2-binary>=2.9.10",
    "psycopg[binary]>=3.2.6",
    "pyyaml>=6.0.2",
    "python-dateutil>=2.9.0.post0",
    "python-dotenv>=1.0.1",
    "redis>=5.2.1",
    "rest-framework-simplejwt>=0.0.2",
    "setuptools>=75.8.2",
    "uvicorn[standard]>=0.29.0",
    "aiogram>=3.17.0",
    "google-cloud-storage>=3.1.0",
    "liqpay-python @ git+https://github.com/liqpay/sdk-python",
    "gspread>=6.2.0",
    "google-auth>=2.37.0"
]
requires-python = ">=3.11"

[dependency-groups]
dev = [
    "pytest>=8.3.5",
    "pytest-django>=4.10.0",
    "pytest-cov>=6.0.0",
    "ruff>=0.11.2",
    "pre-commit>=4.2.0"
]

[tool.ruff.lint.isort]
combine-as-imports = true

[tool.ruff]
line-length = 120
exclude = [
    ".git",
    ".mypy_cache",
    ".pytest_cache",
    ".env",
    "env",
    "venv",
    ".venv"
]

[tool.ruff.lint]
select = ["E", "F"]
ignore = ["F405", "F403"]
