[tool.ruff]
line-length = 120
exclude = [
  ".git",
  ".mypy_cache",
  ".pytest_cache",
  ".env",
  "env",
  "venv",
  ".venv",
  "./backend/accounts/migrations/",
]

[tool.ruff.lint]
ignore = ["E501", "E402", "F403", "F405"]

[tool.ruff.lint.isort]
combine-as-imports = true

[tool.black]
line-length = 120
target-version = ['py310']
include = '\.pyi?$'
exclude = '''
(
  /(
      \.git
    | \.mypy_cache
    | \.pytest_cache
    | \.env
    | env
    | venv
    | .venv
    | backend/accounts/migrations
  )
)
'''

[tool.mypy]
follow_imports = "skip"
strict_optional = false
check_untyped_defs = false
allow_untyped_globals = true
ignore_missing_imports = true
disallow_untyped_calls = true
warn_unused_ignores = true
warn_unreachable = true
exclude = '''
(
  \.git
| \.mypy_cache
| \.pytest_cache
| \.env
| env
| .venv
| venv
| backend/accounts/migrations
)
'''

[tool.poetry]
name = "gym-bot"
version = "0.1.0"
description = ""
authors = ["YevheniiMelnikov <evgeniy@workmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.12"
aiohttp = "^3.10.5"
loguru = "^0.7.2"
setuptools = "^74.1.2"
psycopg2-binary = "^2.9.9"
asyncpg = "^0.29.0"
pyyaml = "^6.0.2"
python-dotenv = "^1.0.1"
httpx = "^0.27.2"
redis = "^5.0.8"
google-cloud-storage = "^2.18.2"
apscheduler = "^3.10.4"
python-dateutil = "^2.9.0.post0"
aiogram = "^3.12.0"
django = "^5.1.1"
django-extensions = "^3.2.3"
djangorestframework = "^3.15.2"
djangorestframework-api-key = "^3.0.0"
drf-yasg = "^1.21.7"
djoser = "^2.2.3"
cryptography = "^43.0.1"
django-filter = "^24.3"
liqpay = "^1.0.1"

[tool.poetry.group.dev.dependencies]
black = "^24.8.0"
ruff = "^0.6.3"
mypy = "^1.11.2"
mypy-extensions = "^1.0.0"
pytest = "^8.3.2"