[tool.ruff]
line-length = 120
exclude = [
  ".git",
  ".mypy_cache",
  ".pytest_cache",
  ".env",
  "env",
  "venv",
  ".venv",
  "./backend/accounts/migrations/",
]

[tool.ruff.lint]
ignore = ["E501", "E402", "F403", "F405"]

[tool.black]
line-length = 120
target-version = ['py310']
include = '\.pyi?$'
exclude = '''
(
  /(
      \.git
    | \.mypy_cache
    | \.pytest_cache
    | \.env
    | env
    | venv
    | .venv
    | backend/accounts/migrations
  )
)
'''

[tool.mypy]
ignore_missing_imports = true
strict = true
disallow_untyped_calls = true
warn_unused_ignores = true
warn_unreachable = true
exclude = '''
(
  \.git
| \.mypy_cache
| \.pytest_cache
| \.env
| env
| .venv
| venv
| backend/accounts/migrations
)
'''

[tool.poetry]
name = "gym-bot"
version = "0.1.0"
description = ""
authors = ["YevheniiMelnikov <evgeniy@workmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.12"
aiohttp = "^3.9.1"
loguru = "0.7.2"
psycopg2-binary = "^2.9.9"
asyncpg = "^0.29.0"
pyyaml = "^6.0.1"
python-dotenv = "^1.0.1"
httpx = "^0.27.0"
redis = "^5.0.3"
google-cloud-storage = "^2.16.0"
apscheduler = "^3.10.4"
python-dateutil = "^2.9.0"
aiogram = "^3.2.0"
django = "^4.2.7"
django-extensions = "^3.2.3"
djangorestframework = "^3.14.0"
djangorestframework-api-key = "^3.0.0"
drf-yasg = "^1.21.7"
djoser = "^2.2.2"


[tool.poetry.group.dev.dependencies]
black = "^23.11.0"
ruff = "^0.4.5"
mypy = "^1.7.1"
mypy-extensions = "^1.0.0"
pytest = "^8.1.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
