{% load i18n %}

{% block subject %}
{% blocktrans %}Password reset on Gymbot{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>Вы получили это письмо, потому что вы (или кто-то другой) запросили сброс пароля для вашей учётной записи.</p>
<p>Пожалуйста, перейдите по следующей ссылке, чтобы установить новый пароль:</p>
<p><a href="{{ protocol }}://{{ domain }}{{ url }}">{{ protocol }}://{{ domain }}{{ url }}</a></p>
<p>Ваше имя пользователя, если вы его забыли: {{ user.username }}</p>
<p>Команда GymBot</p>
{% endblock html_body %}