services:
  db:
    image: pgvector/pgvector:pg17
    container_name: db
    env_file: ../.env
    command: ["postgres", "-c", "shared_preload_libraries=vector"]
    ports: ["15432:5432"]
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./init_pgvector.sql:/docker-entrypoint-initdb.d/init_pgvector.sql:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER:-postgres}"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  redis:
    image: redis:7.4.2
    container_name: redis
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    ports: ["16379:6379"]
    volumes:
      - redisdata:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf:ro
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
    restart: unless-stopped

  api:
    build:
      context: ..
      dockerfile: docker/api.Dockerfile
      args: { INSTALL_DEV: "true" }
    container_name: api
    env_file: ../.env
    volumes:
      - ../:/app
      - ../config:/app/config
    environment:
      RUN_MIGRATIONS: "true"
    command: >
      uvicorn config.asgi:application --host 0.0.0.0 --port 8000
    ports: ["8000:8000"]
    depends_on:
      db:    { condition: service_healthy }
      redis: { condition: service_healthy }
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health/"]
      interval: 60s
      timeout: 5s
      retries: 3
    restart: unless-stopped

  celery:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: celery_worker
    env_file: ../.env
    command: "celery -A config.celery:celery_app worker -l info -Q default,maintenance -P threads"
    volumes:
      - ../:/app
      - ../config:/app/config
      - redisdata:/app/redis/data:ro
    depends_on:
      db: { condition: service_healthy }
      redis: { condition: service_healthy }
    restart: unless-stopped

  beat:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: celery_beat
    env_file: ../.env
    command: "celery -A config.celery:celery_app beat -l info"
    volumes:
      - ../:/app
      - ../config:/app/config
    depends_on:
      db: { condition: service_healthy }
      redis: { condition: service_healthy }
    restart: unless-stopped

# Uncomment 'bot' when fully running inside Docker. It's commented to allow running the Python process directly from the IDE

#  bot:
#    container_name: bot
#    build:
#      context: ..
#      dockerfile: docker/Dockerfile
#    depends_on:
#      redis: {condition: service_healthy}
#      db:    {condition: service_healthy}
#    env_file: .env
#    command: ["python", "-u", "/app/bot/main.py"]
#    volumes:
#      - ../google_creds.json:/app/google_creds.json:ro
#      - ../dumps:/app/dumps
#      - ../config:/app/config
#    ports: ["8080:8080"]
#    restart: unless-stopped

volumes:
  pgdata:
  redisdata:
