<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Program</title>
</head>
<body>
<div id="program-date"></div>
<div id="program-origin"></div>
<div id="content">Loading...</div>
<div id="controls"></div>
<script src="https://telegram.org/js/telegram-web-app.js"></script>
<script src="{% static 'webapp.js' %}?v={{ settings.STATIC_VERSION|default:0 }}"></script>
</body>
</html>
